Package: demo3-lib-dbgsym
Package-Type: ddeb
Source: demo3
Version: 1.0.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: yushuoqi <yushuoqi@kylinos.cn>
Installed-Size: 17
Depends: demo3-lib (= 1.0.0)
Section: debug
Priority: optional
Description: debug symbols for demo3-lib
Build-Ids: 2616d8d725aac79385d17586c3f19fd2127cf0d5
