Package: demo3-dbgsym
Package-Type: ddeb
Source: demo3
Version: 1.0.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: yushuoqi <yushuoqi@kylinos.cn>
Installed-Size: 18
Depends: demo3 (= 1.0.0)
Section: debug
Priority: optional
Description: debug symbols for demo3
Build-Ids: 5f3566d947aa0e2fc07ab077c233711812d3a166
