Package: demo2-dbgsym
Package-Type: ddeb
Source: demo2
Version: 1.0.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: yushuoqi <yushuoqi@kylinos.cn>
Installed-Size: 18
Depends: demo2 (= 1.0.0)
Section: debug
Priority: optional
Description: debug symbols for demo2
Build-Ids: f547a663b2389112ef70a309c90a3f9fd3732b3a
